body {
  background-color: gray;
}
div {
  background-color: tomato;
  width: 100px;
  height: 100px;
  display: inline-block;
}

span {
  background-color: azure;
  width: 100px;
  height: 100px;
  /* display: inline-block;
  display: none; */
  display: hidden;
  /* display: block;
  display: inline; */
}
