body {
  margin: 0;
  height: 100vh;
}

a:link {
  color: hsl(221, 100%, 74%);
}
a:hover {
  color: hsl(221, 74%, 72%);
  font-size: 1.1em;
}
a:active {
  color: rgb(30, 255, 0);
  font-size: 1.1em;
}
a:visited {
  color: rgb(255, 0, 191);
}

ul:hover {
  background-color: red;
}

li:hover {
  background-color: rgb(241, 241, 75);
  font-size: 40px;
}

li:not(:hover) {
  background-color: whitesmoke;
}

#stickyUp {
  position: sticky;
  top: 0;
  width: auto;
  height: 10vh;
  text-align: center;
  background-color: aquamarine;
}

#stickyDown {
  position: sticky;
  bottom: 0;
  width: auto;
  height: 10vh;

  border-top-left-radius: 60vh;
  border-top-right-radius: 60vh;

  text-align: center;
  background-color: rgb(25, 109, 158);
}
